@model List<AspNetCoreMVCPractice.Models.Species>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Especies"; // Esto es una buena práctica para el título de la página
}
<div class="index_Basic">
    <h3>Especie</h3>
    <a asp-action="Create" class="btn btn-primary">Nueva especie</a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Estatus</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var species in Model)
        {
            <tr>
                <td>@species.Name</td>     
                <td>
                    @if (species.Status)
                    {
                        <span class="badge bg-success user-select-none">Activo</span>
                    }
                    else
                    {
                        <span class="badge bg-danger user-select-none">Inactivo</span>
                    }
                </td>   
                <td>
                    <a asp-action="Edit" asp-route-id="@species.Id">Editar</a>
                    <button type="button" class="showModal" data-id="@species.Id" value="@species.Name">Eliminar</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <dialog class="deleteDialog">
        <h1>Desea eliminar la especie</h1>
        <form asp-action="Delete" method="post" class="d-inline deleteForm">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" id="Id" />
            <input type="hidden" id="controller" value="Species"/>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <button type="button" onclick="closeModal()" class="btn btn-secondary">Cancelar</button>
    </dialog>
</div>

